img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.user-content {
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
  padding: 2rem;
  border-radius: 20px;
  max-width: 500px;
  display: flex;
  gap: 15px;
  align-items: center;
}


.user-name {
  font-size: 25px;
    
}
.user-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body {
    color: white;
    font-family: 'Roboto Serif', sans-serif;
}